[Desktop Entry]
Version=1.0
Type=Application
Name=weather
GenericName=weather app
Comment=get weather data
Exec=/path to binary/build/Weather
Icon=/path to logo/Weather.svg
Terminal=false
Categories=Network;Weather;
StartupNotify=true
# Startup   WMClass=weather
